.Home {
  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    width: 350px;
    margin: 0 10px;
  }

  .Home_left {
    height: 250px;
    position: relative;
    p {
      font-size: 1.6rem;
      color: var(--main-color);
    }

    .linkTab {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      flex-direction: column;

      a {
        color: var(--main-color);
        text-decoration: none;
        text-align: center;
        width: 180px;
        padding: 15px 0;
        margin: 5px 0;
        border-radius: 30px;
        background-color: #fff;
        box-shadow: 2px 2px 5px rgba(10, 10, 10, 0.1);

        &:hover {
          background-color: var(--main-color);
          color: #fff;
        }
      }
    }
  }

  .Home_right {
    width: 400px;
    height: 340px;
  }
}
