.ListInfo {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  h1 {
    color: var(--main-color1);
    padding: 20px 0;
  }

  .listInfo_wrap {
    width: 350px;
    height: auto;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color2);

    label {
      height: 35px;
      width: 250px;
      margin: 10px 0px;
      position: relative;
      display: flex;
      justify-content: space-between;

      span {
        width: 90px;
        line-height: 35px;
      }

      input {
        width: 160px;
      }
    }

    button {
      margin: 20px 10px 10px 10px;
      border: none;
      padding: 10px 30px;
      background-color: var(--main-color1);
      color: #fff;
      font-size: 1.1rem;
      cursor: pointer;
    }
  }

  .back_btn {
    position: absolute;
    left: 30px;
    top: 30px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--main-color1);
    background-color: var(--main-color2);
    border: none;
    border-radius: 50px;
    cursor: pointer;

    &:hover {
      color: var(--main-color2);
      background-color: var(--main-color1);
    }
  }
}
