.List {
  h1 {
    text-align: center;
    color: var(--main-color1);
    padding: 50px 0;
  }

  table {
    margin: 0 auto;
    width: 750px;
    text-align: center;
    border-collapse: collapse;
    background-color: var(--main-color3);

    thead {
      background-color: var(--main-color1);
      color: #fff;
    }

    tr {
      height: 40px;

      button {
        cursor: pointer;
        border: none;
        background: none;
        color: var(--main-color1);
        font-weight: bold;

        &:hover {
          color: red;
        }
      }
    }
  }
}
